# This is template for .env file. Fill in your private values and rename the file to .env

# Domain
DOMAIN_NAME=pekatsar.42.fr

# Database
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
DB_HOST=mariadb

# WordPress Admin
WP_TITLE="Tra la la"
WP_ADMIN_USER=big_boss
WP_ADMIN_EMAIL=big_boss@pekatsar.42.fr

# WordPress Regular User
WP_USER=subscriber
WP_USER_EMAIL=author@pekatsar.42.fr

WP_REDIS_HOST=redis